.hero-title {
   @extend .display-2;
  // font-size: 5rem;
}

.hero-text {
  @extend .lead; 
  font-weight: 300;
  font-size: 1.5rem;
}

.big-title {
  // @extend .lead;
  font-weight: bold;
  font-size: 2rem;
}

.big-text {
  @extend .lead;
  @extend .text-muted;
}

.small-title {
  @extend h5;
  font-weight: bold;
}

.small-text {
  @extend .text-muted;
}
