.hero0__cta-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  } 
}
.hero0-title {
  
}
.hero0__title-text {
  line-height: 4rem;
  font-weight: bold;
}

.hero0-text {
  @extend .lead; 
  font-weight: 300;
  font-size: $lead-font-size;
}

.hero0-cta {
  max-width: 15rem;
  @extend .lead;
  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }

}

.hero0-input {
  @extend .form-control;
  @extend .form-control-xl;
}

.hero0-button {
  font-size: $lead-font-size;
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xl;
  @extend .btn-block;
  // @extend .lead; 
  // @include media-breakpoint-up(md) {
  //   margin-left: 0.3rem;
  // } 
  // @include media-breakpoint-down(sm) {
  //   margin-top: 0.3rem;
  // }
}
