
<nav class='navbar1'>
  <div class='adaptable-container h-100'> 
    <div class="navbar1__bar">  
      <div class='hidden-xs-down'>
        <a href="#hero0">&uarr; back to top</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#how">how</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#feature2">what</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#feature2">who</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#feature2">faq</a>
      </div>
      <div>
        <button class="btn btn-primary btn-sm "> Github </button>
      </div>
    </div>
  </div>
</nav>

