<section class='feature1 howtouse' id='how'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2'>
        <h2 class=' big-title text-xs-center'>Extreme ease of use</h2>
        <div class='separator p-t-2'></div>
      </div>
    </div>
    <div class='separator p-t-3'></div>
    <div class='row'>
      <div class='col-sm-4 offset-sm-2'>
        <div class='small-title'>1. Copy-paste sections</div>
        <embed src="image/Stage1.svg" />
      </div>
    </div>
    <div class="row">
      <div class='col-sm-4 offset-sm-4'>
        <div class='separator p-t-2'></div>
        <div class='small-title'>2. Modify text and images</div>
        <embed src="image/Stage2.svg" />
      </div>
    </div>
    <div class="row">
      <div class='col-sm-4 offset-sm-6'>
        <div class='separator p-t-2'></div>
        <div class='small-title'>3. Apply custom font and color</div>
        <embed src="image/Stage3.svg" />
      </div>
    </div>
    <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
    <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
  </div>
</section>
