<section class="whatitis" id='whatitis'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <h2 class=" big-title text-xs-center"> A few of the available sections</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center">Each one is clean, minimalist, and compatible with another. Assemble them like LEGO™ and customize font & main color to create a unique atmosphere.</p>
        <div class='separator m-t-3 '>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->


    <div class='row'>
      <div class='col-sm-4'>
        <div class='small-title'>Hero sections</div>
        <div class='separator m-t-1 '>&nbsp;</div>
      </div>
    </div>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" data-src="" src='/image/ohero0.png' alt="Card image cap" width="100%">
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..." src='/image/ohero1.png' alt="Card image cap" width="100%">
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..."  src='/image/ohero2.png' alt="Card image cap" width="100%">
    </div>
  </div>


  </div>
  <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
  <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
</section>
