
<section id='feature0' class='frustration'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class=" big-title text-xs-center">Frustrations that led to the project</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center"></p>
        <div class="separator p-t-1"></div>


        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of free tool </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>

        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of minimalism </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>

        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of performance </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>


        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of reuse </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>

        
        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of examples </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>


        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of portability </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>

        <div class="separator p-t-1"></div>
        <div class="big-text text-xs-center">
          <strong> ☠ Lack of true responsiveness </strong> 
        </div>
        <div class="big-text text-xs-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, eum commodi sequi 
        </div>

        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
