<section class='invertedfeature' id='invertedfeature'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>
    <div class='row'>
      <div class='col-xs-10 offset-xs-1'>


<div class="card-deck">
    <div class="card">
      

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <span class="name">David Walsh</span>
    </div>
    <div class="back">
      <div class="back-logo"></div>
      <div class="back-title">@davidwalshblog</div>
      <p>Mozilla Web Developer, MooTools & jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.</p>
    </div>
  </div>
</div>

    </div>
    <div class="card">
      





    </div>
    <div class="card">
      




      
    </div>
  </div>


        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>
