<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700" rel="stylesheet">
<section class='hero0' id='hero0'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-10 offset-xs-1'>

        <div class='hero0-title'>
          <div class="separator m-t-4 hidden-md-up">&nbsp;</div>
          <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
          <h1 class='text-xs-center hero0__title-text'>
            A framework to build landing pages
          </h1>
        </div>
        
        <div class='hero0-text text-xs-center'>
          Free and open-source. Huge time, money, and energy saver.
        </div>
        
        <div class='separator p-t-2'></div>
        
        <div class='hero0__cta-container'>
          <button class='hero0-button hero0-cta'>View it on Github</button>
        </div>
        <div class="separator m-t-6 hidden-md-up">&nbsp;</div>
        <div class="separator m-t-4 hidden-sm-down">&nbsp;</div>
        <div class="separator m-t-12 hidden-sm-down">&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>