
<section class='what' id='what'>
  <div class='adaptable-container'>
    <div class='separator m-t-8 hidden-sm-down'></div>
    <div class='separator m-t-4 hidden-md-up'></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2'>
        <h2 class=' big-title text-xs-center'>What it is</h2>
        <div class='separator p-t-2'></div>
        <div class='  text-xs-center lead'>A bunch of intercompatible sections you can pick, assemble and customize to create your own web landing page</div>
        <div class='separator m-t-3 hidden-sm-down'></div>
        <div class='separator m-t-1 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class='separator p-t-3'></div>
    <div class='row'>
      <div class='col-lg-4 text-xs-center what__sub'>
        <object>
            <embed src="image/heroesblue.svg" style="width: 70%; height: auto;" />
        </object>
        <h3 class=' '>Hero sections</h3>
        <!-- <p class='what__sub-text  '> . Argument should suffice to convince your audience.</p> -->
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center what__sub'>
        <div class='separator p-t-1 hidden-lg-up'></div>
        <object>
            <embed src="image/fblue2.svg" style="width: 70%; height: auto;" />
        </object>
        <h3 class=' '>Explanation sections</h3>
        <!-- <p class='what__sub-text  '> . Here : keep it small, but straight to the point.</p> -->
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center what__sub'>
        <object>
            <embed src="image/pricingtable.svg" style="width: 70%; height: auto;" />
        </object>
        <h3 class=' '>Pricing table</h3>
        <!-- <p class='what__sub-text  '> . 3 arguments are always better, it works !</p> -->
        <div class='separator m-t-8 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

