
<section class="demo" id='demoxx'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class="big-title text-xs-center">Demo</h2>
        <div class="separator p-t-1"></div>
        <p class="  text-xs-center lead">The page you are currently reading was built with the tool. I built other examples so that you see the  </p>
        <div class="separator m-t-3"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class="row">
      <div class="demo__text-left">
        <h3 class=" ">This page. <span class="text-muted">Of course.</span></h3>
        <p class=" ">Big-Text. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <button class="btn  btn-outline-primary">secondary call to action</button>
      </div>
      <div class="demo__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/preview.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>    


  <div class='separator m-t-1'></div>


  <div class="adaptable-container">
    <div class="row">

      <div class="demo__text-right">
        <p class="lead "><strong>Your page.</strong> <span class="text-muted"> <strong>On .</strong></span></p>
        <p class=" ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus doloribus soluta consequuntur distinctio, culpa ipsam dignissimos illo, doloremque a neque velit eos. Architecto suscipit delectus repellat, dolorum id, necessitatibus nihil?</p>
        <button class="btn  btn-outline-primary">secondary call to action</button>
      </div>


      <div class="demo__img-left">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/preview.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>

  <div class='separator m-t-8'></div>

</section>
