<section class="whatitis" id='whatitis'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <h2 class=" big-title text-xs-center">A few of th available sections</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center">If you can't or don't want to contribute to the project, but you like the idea, you can click on the star button  </p>
        <div class='separator m-t-3 '>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->


    <div class='row'>
      <div class='col-sm-4'>
        <div class='small-title'>Hero sections</div>
        <div class='separator m-t-1 '>&nbsp;</div>
      </div>
    </div>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" data-src="" src='/image/ohero0.png' alt="Card image cap" width="100%">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..." src='/image/ohero1.png' alt="Card image cap" width="100%">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..."  src='/image/ofeature0.png' alt="Card image cap" width="100%">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


  </div>
  <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
  <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
</section>
