<section class='invertedfeature' id='invertedfeature'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>
    <div class='row'>
      <div class='col-xs-10 offset-xs-1'>
        <h2 class="big-title text-xs-center">Who is it for ? </h2>
        <div class="separator p-t-4"></div>
        <h1>
          Marketers.
        </h1>
        <div  class='big-text'>
          <strong>
            ✓ Can focus on copywriting and A/B testing.
          </strong>
        </div>        <div  class='big-text'>
          <strong>
            No hidden cost, no technical lock into a commercial solution.
          </strong>
        </div>
        <div class="separator p-t-2"></div>
        <h1>
          Developers.
        </h1>
        <span class='big-text'>
          Can rest and have a coffee, all design is pre-made, speed optimization is alreay
        </span>
        <div class="separator p-t-2"></div>
        <h1>
          Designers.
        </h1>
        <div>
          Can focus on typography and image design, 99% of technical complexity is hidden. Follow docs for the remaining 1% and you're done.
        </div>
        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>
