<section class='invertedfeature' id='invertedfeature'>
  <div class='adaptable-container'>
    <div class='separator p-t-6'></div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <h2 class=" big-title text-xs-center" style="color:white;">Why would one use it ?</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center" style="color:white;">If you can't or don't want to contribute to the project, but you like the idea, you can click on the star button  </p>
        <div class='separator m-t-3 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-2 hidden-md-up'>&nbsp;</div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class='row'>
      <div class='col-xs-10 offset-xs-1'>
        <div class="card-deck">
          <div class="card">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <div class='separator p-t-1'></div>
                <div>
                  <object>
                    <embed src="/image/marketers.svg" style="width: 25%; height: auto;" />
                  </object>
                </div>
                  <div class='separator p-t-4'></div>
                  <div class="name big-text"><strong>Marketers</strong></div>
                  <div class='separator p-t-4'></div>
                  <div class='big-text'>Get high-converting landing page for free</div>
                  <div class='big-text'>→→→</div>

                </div>
                <div class="back">
                  <p>
                    ✓Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsa nemo reiciendis impedit, harum magni veniam. Totam repellat nobis numquam minus, adipisci esse natus, a vel aliquam sed inventore at.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <div class='separator p-t-1'></div>
                <div>
                  <object>
                    <embed src="/image/developers.svg" style="width: 25%; height: auto;" />
                  </object>
                </div>
                  <div class='separator p-t-4'></div>
                  <div class="name big-text"><strong>Developers</strong></div>
                  <div class='separator p-t-4'></div>
                  <div class='big-text'>Showcase your work. Improve your skills.</div>
                  <div class='big-text'>→→→</div>

                </div>
                <div class="back">
                  <p>
                    ✓Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsa nemo reiciendis impedit, harum magni veniam. Totam repellat nobis numquam minus, adipisci esse natus, a vel aliquam sed inventore at.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <div class='separator p-t-1'></div>
                <div>
                  <object>
                    <embed src="/image/designers.svg" style="width: 25%; height: auto;" />
                  </object>
                </div>
                  <div class='separator p-t-4'></div>
                  <div class="name big-text"><strong>Designers</strong></div>
                  <div class='separator p-t-4'></div>
                  <div class='big-text'>Build unique, elegant, beautiful themes at the speed of light</div>
                  <div class='big-text'>→→→</div>

                </div>
                <div class="back">
                  <p>
                    ✓Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsa nemo reiciendis impedit, harum magni veniam. Totam repellat nobis numquam minus, adipisci esse natus, a vel aliquam sed inventore at.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='separator m-t-6 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div>
      <!-- ./col -->
    </div>
    <!-- ./row -->
  </div>
  <!-- /.container -->
</section>
