<section class="feature2" id='sections'>
  <div class="adaptable-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="separator p-t-6"></div>
        <h2 class=" big-title text-xs-center">What are sections ?</h2>
        <div class="separator p-t-1"></div>
        <p class="big-text text-xs-center">Landing pages are always build the same way. You have a first visual, then features, pricing tables, about section, etc. The tool let you choose one or many layout <i>per kind of section</i></p>
      </div>
      <!-- ./col -->
    </div>
    <!-- ./row -->
    <div class="row">
      <div class="feature2__text-left">
        <h3 class="small-title">Hero section. <span class="text-muted">The first thing your user see.</span></h3>
        <p class="big-text">Choose the layout </p>
        <button class="btn  btn-outline-primary">secondary call to action</button>
      </div>
      <div class="feature2__img-right">
        <div class='feature1__sub-image'>
          <object>
            <embed src="image/responsive3.svg" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>
  <div class='separator m-t-1 hidden-xl-up'>&nbsp;</div>
  <div class="adaptable-container">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" data-src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card card-block">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card card-block card-inverse card-primary text-xs-center">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer>
            <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card card-block text-xs-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <div class="card">
        <img class="card-img" data-src="..." alt="Card image">
      </div>
      <div class="card card-block text-xs-right">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class='separator m-t-4 hidden-sm-down'>&nbsp;</div>
  <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
</section>
